@font-face {
	font-family: 'Lato';
	src: local('Lato'), url('./../Lato/Lato-Regular.ttf'), 
	url('./../Lato/Lato-Black.ttf'),
	url('./../Lato/Lato-Bold.ttf'),
	url('./../Lato/Lato-Italic.ttf'),
	url('./../Lato/Lato-Thin.ttf');
}
@media screen{
	body *{
		outline: none!important;
		font-family: 'Lato';
	}
	body, html{
		max-width: 100vw;
		overflow-x: hidden;
	}
	nav.navbar{
		background: #fff!important;
	}
	nav.navbar a[href], nav.navbar i{
		font-size: 1.0em;
	}
	nav.navbar .nav-link{
		color: #101010!important;
		display: flex;
		font-size: 0.9em!important;
		font-weight: 600;
	}
	nav.navbar .nav-link:hover{
		color: #fff!important;
	}
	nav.navbar i{
		font-size: 25px;
		margin-right: 8px;
		cursor: pointer;
	}
	nav.navbar .navbar-nav > .nav-item:hover{
		background-color: #6d8be3;
		color: #fafafa!important;
	}
	nav.navbar .navbar-nav > .nav-item:hover > .nav-link{
		color: #fafafa;
	}
	.nav-item.active{
		color: #101010!important;
		border-bottom: #6d8be3 5px solid;
	}
	.pointer{
		cursor: pointer;
	}
	.preload{
		position: fixed;
		width: 100%; 
		top: 0; 
		bottom: 0; 
		display: flex; 
		align-items: center; 
		align-content: center;
		justify-content: center;
		transition: opacity 0.5s, background-color 0.5s;
	}
	.preload > div{
		width: 100%;
	}
	.preload.load{
		opacity: 1!important;
		z-index: 999999!important;
		background-color: rgba(255, 255, 255, 0.5)!important;
		pointer-events: auto!important;
	}
	.preload img{
		animation: spin 2s linear infinite;
	}
	@keyframes spin {
		0% {
		  opacity: 0;
		}
		100% {
		  opacity: 1;
		}
	}
	.onload{
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.5s;
	}
	.init-text{
		font-size: 3em;
		font-weight: 350;
	}
	.search-area{
		border: 1px #6d8be3 solid; 
		border-radius: 20px;
		background-color: #fff;
	}
	.search-area input{
		border-radius: 20px;
	}
	.search-area input:focus{
		outline: none!important;
		box-shadow: none!important;
	}
	.search-area button{
		margin: 5px;
		border-radius: 16px;
	}
	.modal .close{
		outline: none;
	}
	.document-whatsapp {
		color: #fff;
		font-size: 1.5em;
	}
	.document-whatsapp {
		width: 60px;
		height: 60px;
		border-radius: 60px;
		background: #1ee449;
		box-shadow: 7px 7px 7px rgb(0 0 0 / 30%);
		position: fixed;
		z-index: 100;
		bottom: 100px;
		right: 22px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		transition: opacity 0.3s;
		border: #1ee449;
	}
	.document-top{
		width: 60px;
		height: 60px;
		border-radius: 60px;
		background: #6d8be3;
		box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
		position: fixed;
		z-index: 100;
		bottom: 22px;
		right: 22px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.3s;
		border: #6d8be3;
	}
	.document-top.scrolltop{
		opacity: 1;
		pointer-events: auto;
	}
	.document-top i{
		color: #fff;
		font-size: 1.5em;
	}
	.document-top span{
		background: red;
		position: absolute;
		top: 0;
		right: 0;
		border-radius: 50%;
		font-size: .8em;
		height: 20px;
		width: 20px;
		text-align: center;
		color: #fff;
	}
	textarea {
		resize: vertical;
		min-height: 200px;
	}
	.form-control {
		height: calc(2.25rem + 10px);
	}
	h1, h2, h3, h4, h5{
		color: #6d8be3;
	}
	.white-text{
		color: #fff;
	}
	.card{
		border-radius: 16px;
		position: relative;
	}
	.card img{
		border-top-left-radius: 16px;
		border-top-right-radius: 16px;
		background-position: center;
		background-size: cover;
	}
	.image-link{
		cursor: zoom-in;
	}
	.card-title-project{
		background: rgba(0, 0, 0, .7); 
		position: absolute; 
		bottom: 0; 
		width: 100%;
		border-bottom-left-radius: 16px;
		border-bottom-right-radius: 16px;
	}
	.card-title-project p{
		font-weight: 500;
		color: #fff;
		font-size: 1.2rem;
	}
	.card-imoveis{
		min-height: 250px;
		border: 0!important;
		position: relative;
		cursor: pointer;
		height: calc(100vh / 3 + 100px);
		text-decoration: l;
		overflow: hidden;
	}
	.card-imoveis img{
		transition: all 0.3s;
		overflow: hidden;
		background-color: #444;
		object-fit: cover!important; 
		object-position: center!important;
		max-width: 100%;
		width: 100%;
		min-height: 100%;
		height: 100%;
		max-height: 100%;
		border-radius: 16px!important;
	}
	.card-imoveis:hover > img{
		-moz-transform: scale(1.1);
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	.paralax {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
		padding: 7em 0;
		position: relative;
	}
	.limited-area{
		max-width: 750px;
		margin: auto;
	}
	.perfil-image{
		object-fit: cover;
		object-position: center;
	}
	#input-file-label{
		max-width: 100%;
		overflow: hidden;
	}
	.uperCase{
		text-transform: uppercase;
	}
	.bold{
		font-weight: 500;
	}
	.home-div{
		border-top: #6d8be3 6px solid;
		min-height: 100px;
		background: #222222;
		border-radius: 16px;
		max-width: 400px;
		color: #fff;
	}
	.form-control:focus {
		color: #495057;
		background-color: #fff;
		border-color: #6d8be3;
		outline: 0;
		box-shadow: 0 0 0 0.2rem rgba(6, 168, 157, 0.25);
	}
	.sobre-container > div{
		min-height: 100%;
	}
	.paralax{
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
		padding: 7em 0;
		position: relative;
	}
    .servico-area {
		background-color: #ebe9ee;
		padding: 12px;
		border-radius: 20px;
		min-height: 200px;
		display: flex;
		align-content: center;
		align-items: center;
		margin: 8px;
	  }
	.btn-primary {
		color: #fff;
		background-color: #6d8be3;
		border-color: #6d8be3;
	}
	.btn-primary:hover {
		color: #fff;
		background-color: #198754;
		border-color: #167549;
	}
	.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
		color: #fff;
		background-color: #6d8be3;
		border-color: #6d8be3;
	}
	.btn-check:focus+.btn-primary, .btn-primary:focus {
		color: #fff;
		background-color: #198754;
		border-color: #167549;
		box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 50%);
	}
	.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus {
		box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 50%);
	}
	.home-service .media {
		min-height: 310px;
		transition: transform 0.3s;
		background-color: #fff;
		cursor: pointer;
	}
	.home-service .media:hover {
		transform: scale(1.05);
	}
	a[href]:not(.btn) {
		color: #212529;
		text-decoration: none;
		transition: color 0.2s;
	}
	/*Posts*/
	.card-posts{
		position: relative;
		transition: all 0.3s;
		overflow: hidden;
		text-decoration: l;
	}
	/*.card-posts, .card-posts img{
		border-radius: 16px;
	}*/
	.card-posts img{
		transition: all 0.3s;
		object-fit: cover;
		object-position: center;
		max-width: 100%;
		width: 100%;
		min-height: 100%;
		height: calc(100vh / 4);
		cursor: pointer;
	}
	.card-posts img:hover{
		opacity: 0.5;
	}
	.card-posts > div{
		padding-top: 1.25rem;
	}
	.card-posts > div small{ 
		font-weight: 500; 
	}
	.card-posts > div p, .card-posts > div small, .card-posts > div h4{
		color: #666;
		cursor: pointer;
		transition: all 0.5s;
	}
	.card-posts > div h4{
		font-weight: bold;
	}
	.card-posts > div h4:hover{
		opacity: 0.5;
	}
	.card-posts.categoria::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        border-radius: 0px;
        background: transparent;
        position: absolute;
        z-index: 0;
    }
	.card-posts.categoria::-webkit-scrollbar-track-piece {
		background-color: transparent;
		border-radius: 0px;
	}
	.card-posts.categoria::-webkit-scrollbar-thumb:vertical {
		height: 5px;
		background-color: #bd9039;
		border-radius: 6px;
	}
	.card-posts.categoria::-webkit-scrollbar-thumb:horizontal {
		width: 5px;
		background-color: #bd9039;
		border-radius: 6px;
	}
	.header-container-wallpaper{
		position: relative;
		padding: 22px;
	}
	footer h5{
		color: #6d8be3!important;
	}
	footer p a[href]{
		transition: all 0.5s;
	}
	footer p a[href]:hover{
		color: #6d8be3!important;
	}
	footer{
		min-height: 200px;
		background-color: #fafafa!important;
		border-top: 1px solid transparent !important;
		border-bottom: 1px solid transparent !important;
	}
	footer p a{
		color: rgba(255, 255, 255, 0.8);
		transition: 0.3s;
		font-weight: 500;
		text-decoration: none!important;
	}
	footer hr{
		border-color: rgba(255, 255, 255, 0.1);
	}
	.footer i{
		font-size: 28px!important;
		color: rgba(255, 255, 255, 0.8);
		margin-left: 5px;
	}
	footer i:hover{
		color: #fff;
		transition: 0.3s;
	}	
}
@media screen and (max-width: 992px){
	.init-text{
		font-size: 2em;
	}
}
/*Container*/
@media (min-width: 1200px){
	.container-fluid, .container-fluid-lg, .container-fluid-md, .container-fluid-sm, .container-fluid-xl {
		padding-right: 80px;
		padding-left: 80px;
		max-width: 1760px;
	}
}
@media screen and (max-width: 600px){
	html{
	  font-size: 9pt;
	}
	.card-posts img{
		height: calc(100vh / 6);
	}
    .servico-area {
		min-height: 100px;
	}
}